body {
    background-color: red;
    margin: 0;
}

.navbar{
    width: auto;
    height: 10vh;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.right{
    width: 60vw;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.logo{
    margin-right: 6rem;
}

.left{
    width: 20vw;
}