<div class="navbar">
    <div class="right">
        <span class="logo">
            MyShopApp
        </span>
        <span>Route1</span>
        <span>Route2</span>
    </div>
    <div class="left">
        <span class="profil">
            Profil
        </span>
    </div>
</div>